{{ template "header.tmpl" }}
    <h2>Example Page</h2>
    <p>Welcome to the Art Finder Example page.</p>
    <art-card>
      <p slot="content">slot content defined in html page</p>
    </art-card>
    <art-card></art-card>
{{ template "footer.tmpl" }}
