{{ template "header.html" }}
        <section class="map-container">
            <div class="map">Map</div>
        </section>
        <section class="list-container">
            <div class="image-list">
                <div><img src="https://placehold.co/120x120" alt="Image 1"></div>
                <div><img src="https://placehold.co/120x120" alt="Image 2"></div>
                <div><img src="https://placehold.co/120x120" alt="Image 3"></div>
            </div>
        </section>
{{ template "footer.html" }}
